
.cv-main {
    background: rgba(201, 201, 201, 0.534);
    padding: 10px;
    overflow-x: scroll;
}


.cv-headerbar .cv-header {
    text-align: center;
    background: #fff;
    padding: 13px 0px;
    font-weight: bold;
    border-right: 1px solid rgba(70, 70, 70, 0.28)
}
.cv-header-label-monthly {
    background: rgba(255, 255, 255, 0) !important;
    display: block !important;
    width: 100% !important;
}
.cv-header-label-weekly {
    margin-right: 5px !important;
}


.cv-sidebar {
    background: rgba(255, 255, 255, 0.301);
}
.cv-sidebarslot {
    height: 100px;
    display: table;
    width: 100%;
}
.cv-sidebarslot:not(:last-child) {
    border-bottom: 1px solid rgba(70, 70, 70, 0.28)
}
.cv-slot-align {
    text-align: center;
    font-weight: bold;
    
    vertical-align:middle;
    display: table-cell;
}


.cv-classroom {
    width: 100%;
    margin-right: 5px;
    margin-top: 10px;
}
.cv-room {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.cv-class-empty {
    height: 100px;
}
.cv-class-empty span.cv-empty {
    display: block;
    padding-top: 30px;
    font-size: 1.6em;
    color: #bcbcbcbf;
    text-shadow: 0px 1px 0px #ffffff;
}

.cv-class-active {
    height: 100px;
    background: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
.cv-classrooms-count {
    font-size: 0.8em;
    display: block;
    font-weight: 100;
}
.cv-date {
    font-size: 0.8em;
    display: block;
    font-weight: 100;
    padding-top: 15px;
}
.cv-class-active span.cv-time {
    display: block;
    font-size: 1.3em;
}
.cv-class-active span.cv-day {
    display: block;
    padding-top: 25px;
    font-size: 1.6em;
}
span.cv-status-active {
    color: #37db3c;
    display: block;
}
span.cv-status-unpaid {
    color: #b8b8b8;
    font-style: italic;
}

span.cv-status-done {
    color: #a09eff;
}

span.cv-status-cancelled {
    color: #f64568;
}

.cv-day-label-saturday, .cv-day-label-sunday {
    color: rgb(238, 124, 17);
}

.cv-classrooms-monthly .cv-room {
    margin-right: 10px;
}



.cvm-current-teacher {
    border: 1px solid #b9b9b9;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.cvm-teachers-list li {
    border: 1px solid #b9b9b9;
    padding: 8px;
    font-size: 80%;
}

.cvm-teachers-list li:hover {
    background: rgb(15, 122, 229);
    color: #fff;
}