body {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-bg {
    background: #2368A2;
}

.login-header {
    font-family: inherit;
    font-weight: 900;
    color: #fff;
}

.login-box {
    padding: 20px 20px 10px 20px;
    background: rgb(255, 255, 255, .2);
    color: #fff;
    font-weight: 200;
}

.login-remember-me {
    padding-top: 7px;
}